@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif; }

.navbar {
  background-image: url("/File_Starter/app/images/kkkkk.png");
  background-size: cover; }
  .navbar img {
    width: 1.4em; }
  .navbar .log {
    width: 3em; }

.prg {
  background: #F4CF1B;
  margin-bottom: 3rem;
  padding: 2em; }
  .prg h4 {
    color: #1078AD;
    font-weight: bold;
    text-align: center;
    font-size: 2em; }
  .prg p {
    font-size: 1.2em;
    text-align: center;
    padding: 1%; }

.headerHero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.txt {
  text-align: center; }
  .txt img {
    padding: 3em; }
  .txt__title1 {
    font-size: 2em;
    color: #1078AD;
    font-weight: 700; }
  .txt__title2 p {
    font-size: 1.5em;
    font-weight: bold;
    color: #7F7F7F;
    margin-bottom: .15em; }

.btn1 {
  width: 70%;
  margin-top: 2%;
  background-image: url("/File_Starter/app/images/kkkkk.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #1078AD;
  padding: 1%;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 0.2em;
  cursor: pointer; }
  .btn1:hover {
    background-color: #1078AD; }
    .btn1:hover a {
      text-decoration: none;
      color: #ffffff; }

.img-doc {
  width: 45vw;
  padding: 1.5em; }

@media only screen and (max-width: 900px) {
  .prg {
    padding: 3%; }
    .prg h4 {
      font-size: 1.2em; }
    .prg p {
      font-size: 1em; }
  .txt__title1 {
    padding-top: 1em;
    padding-bottom: 1em; }
  .headerHero {
    display: flex;
    flex-direction: column-reverse; }
  .img-doc {
    width: 100%; } }

.sympt h2 {
  text-align: center;
  color: #1078AD;
  padding-top: 2em;
  font-weight: 700; }

.sympt__disc {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 3em; }
  .sympt__disc img {
    width: 7em; }
  .sympt__disc .photo {
    text-align: center;
    padding: 2em; }
    .sympt__disc .photo__img {
      padding-bottom: 1em; }
      .sympt__disc .photo__img--img1 {
        width: 3em;
        padding-bottom: 1em; }
    .sympt__disc .photo__text {
      color: #1078AD;
      font-size: 1em;
      font-weight: bold; }

.recomm {
  display: flex;
  flex-direction: column; }
  .recomm__title {
    background-color: #1078AD;
    padding-bottom: .5em; }
    .recomm__title h1 {
      text-align: center;
      color: #fff;
      margin: 1em; }
  .recomm__conse h4 {
    color: #fff;
    padding-left: 15em; }
  .recomm .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em; }
    .recomm .list__cons ul {
      font-weight: bold;
      color: #fff;
      line-height: 2em;
      list-style: none; }
      .recomm .list__cons ul span {
        color: #F4CF1B;
        padding-right: 1em; }
    .recomm .list__appel {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      line-height: 2em;
      text-align: center;
      font-weight: bold; }
      .recomm .list__appel h3 {
        color: #F4CF1B; }
      .recomm .list__appel--num1 {
        background-color: #F4CF1B;
        border-radius: .25em;
        width: 10em;
        color: #1078AD; }
      .recomm .list__appel--num2 {
        background-color: #F4CF1B;
        border-radius: .25em;
        width: 10em;
        color: #1078AD; }
      .recomm .list__appel--num3 {
        background-color: #F4CF1B;
        border-radius: .25em;
        width: 10em;
        color: #1078AD; }
  .recomm .reco {
    background-color: #96C5DC; }
    .recomm .reco__title2 {
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
      color: #1078AD;
      margin: 2em; }
    .recomm .reco__img {
      text-align: center; }
    .recomm .reco__btn {
      padding-top: 2em;
      text-align: center;
      padding-bottom: 2em; }
      .recomm .reco__btn .button1 {
        background-image: url("/File_Starter/app/images/kkkkk.png");
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        color: #1078AD;
        font-weight: bold;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 24em;
        border-radius: .25em;
        border: 2px solid #011b8d; }
        .recomm .reco__btn .button1:hover {
          background-color: #1078AD;
          color: #fff; }
          .recomm .reco__btn .button1:hover a {
            text-decoration: none;
            color: #ffffff; }

@media screen and (max-width: 900px) {
  .recomm__conse h4 {
    padding-left: 2em; }
  .recomm .list {
    display: flex;
    flex-direction: column; }
    .recomm .list__appel {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      padding: .30em;
      margin: 1em; }
      .recomm .list__appel h3 {
        padding-top: 2em; } }

.logo {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em; }
  .logo img {
    width: 5em; }

.footers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em; }
  .footers .contact {
    margin-top: 2em;
    margin-bottom: 2em; }
    .footers .contact h2 {
      color: #1078AD;
      text-align: center; }
    .footers .contact__num h5 {
      text-align: center; }
    .footers .contact__num p {
      color: #369D53;
      font-weight: bold;
      text-align: center;
      padding-right: 3em;
      padding: .25em; }
  .footers .menu {
    text-align: center;
    padding-top: 6em; }
    .footers .menu h4 {
      border-bottom: 0.1em solid rgba(16, 121, 173, 0.5);
      padding-bottom: .5em;
      width: 10em;
      padding-left: 1em; }
    .footers .menu a {
      text-decoration: none;
      color: #1078AD; }

.fin {
  background-color: #1078AD;
  width: 100%;
  height: 1.5em;
  margin-top: 1em; }

@media only screen and (max-width: 600px) {
  .menu h4 {
    width: 6em;
    font-size: 1em; }
  .footers .contact h2 {
    font-size: 2em; }
  .footers .contact__num h5 {
    font-size: .8em; }
  .footers .contact__num P {
    font-size: .8em; } }

.prot {
  padding-top: 2em; }
  .prot h1 {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: #1078AD; }
  .prot .Protege {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    padding-top: 1.5em; }
    .prot .Protege .cons {
      padding: 3em; }
      .prot .Protege .cons__img {
        text-align: center;
        padding-right: 1em;
        padding-bottom: 1em; }
        .prot .Protege .cons__img img {
          width: 7em; }
      .prot .Protege .cons__para {
        font-size: 1.2em;
        font-weight: bold;
        color: #1078AD;
        text-align: center; }
  .prot .cons1 {
    text-align: center; }
    .prot .cons1__img {
      text-align: center;
      padding-right: 1em;
      padding-bottom: 1em; }
      .prot .cons1__img img {
        width: 7em; }
    .prot .cons1__para {
      font-size: 1.2em;
      font-weight: bold;
      color: #1078AD;
      text-align: center; }

@media only screen and (max-width: 900px) {
  .prot .Protege {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
    .prot .Protege .cons__img img {
      width: 4em; }
    .prot .Protege .cons__para {
      font-size: .9em; }
  .prot .cons1 {
    text-align: center; }
    .prot .cons1__img img {
      width: 4em; }
    .prot .cons1__para {
      font-size: .9em;
      font-weight: bold;
      text-align: center; } }

.info {
  background: url("/File_Starter/app/images/Merged bar-14.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  .info .text {
    padding-top: 2em; }
    .info .text h2 {
      font-size: 3em;
      color: #1078AD; }
    .info .text p {
      color: #1078AD;
      font-size: 1.6em;
      font-weight: 700;
      padding-top: .4em; }
  .info .btn3 a {
    line-height: 5em;
    background: url("/File_Starter/app/images/En chiffres-33.png");
    background-position: center;
    width: 23%;
    margin-top: 3%;
    padding: .9%;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .2em;
    cursor: pointer;
    color: white;
    margin-bottom: 3%;
    text-decoration: none; }

@media only screen and (max-width: 600px) {
  .info .text p {
    font-size: 1.3em; } }

#Préambule {
  width: 70%;
  text-align: center;
  margin: 0px auto;
  background-color: #e9ecef;
  padding: 1rem;
  border-radius: 5px; }
  #Préambule h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #1078AD; }
  #Préambule hr {
    width: 50%;
    margin: auto;
    border: 1px solid grey; }
  #Préambule p {
    font-size: 1.2em; }

.btun5 {
  text-align: center; }
  .btun5 #start {
    background: url("/File_Starter/app/images/En chiffres-33.png");
    background-position: center;
    width: 30%;
    margin-top: 3%;
    padding: .9%;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .2em;
    cursor: pointer;
    color: white;
    margin-bottom: 3%;
    text-decoration: none; }
    .btun5 #start:hover {
      background-color: #96C5DC;
      color: white; }

.stepper {
  padding: 55px 15% 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 2rem; }
  .stepper h1 {
    font-size: 20px;
    color: #1078AD;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .stepper h1::before {
      content: '';
      height: 22px;
      width: 22px;
      background-color: #1078AD;
      border-radius: 50%;
      position: absolute;
      top: -25px; }
    .stepper h1::after {
      content: '';
      height: 22px;
      width: 22px;
      background-color: #96C5DC;
      border-radius: 50%;
      position: absolute;
      top: -25px;
      z-index: -12;
      transition: all .3s ease; }
  .stepper .active::before {
    content: '';
    height: 22px;
    width: 22px;
    background-color: #F4CF1B;
    border-radius: 50%;
    position: absolute;
    top: -34px;
    z-index: 100; }
  .stepper .active::after {
    content: '';
    height: 40px;
    width: 40px;
    background-color: #88b7d3;
    border-radius: 50%;
    position: absolute;
    top: -43px;
    z-index: 50; }

#questionnaire {
  width: 80%;
  border: 1px solid #bebebe;
  margin: 20px auto;
  border-radius: 4px;
  display: none;
  margin-bottom: 50px;
  overflow: hidden; }
  #questionnaire h1 {
    text-align: center;
    font-size: 31px;
    color: #787878;
    font-weight: bolder;
    width: 82%;
    margin: 70px auto; }
  #questionnaire .progress {
    border-bottom: 1px solid #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    #questionnaire .progress h3 {
      font-weight: bolder;
      font-size: 2em !important; }
    #questionnaire .progress__bar {
      width: 90%;
      height: 10px;
      border-radius: 20px;
      background-color: #e6f1f7;
      overflow: visible; }
      #questionnaire .progress__bar .bar {
        height: 100%;
        width: calc(1 * calc(0% / 4));
        background-color: #1078AD;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        transition: all .4s ease;
        margin-left: .3em; }

.answer-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%; }
  .answer-inputs input[type="number"] {
    font-size: 16px;
    border: 1px solid #1078AD;
    width: 55%;
    padding: 10px; }
  .answer-inputs .input-span {
    font-size: 16px;
    border: 1px solid #1078AD;
    border-left: none;
    padding: 4px 10px 5px;
    color: #555555;
    background-color: #edf6fa; }
  .answer-inputs input[type="radio"] {
    -webkit-appearance: none; }
  .answer-inputs input[type="radio"]:checked + label {
    background-color: #1078AD;
    color: #F4CF1B; }
  .answer-inputs label {
    height: 80px;
    width: 120px;
    color: #1078AD;
    border-radius: 4px;
    border: 4px solid #1078AD;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px 0px 0;
    transition: .5s ease;
    margin-right: 1em; }
    .answer-inputs label span {
      font-size: 22px;
      position: relative;
      bottom: 5px; }

.btn-container {
  margin: 110px 0 40px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .btn-container button {
    font-size: 17px;
    background-color: #cfe4ef;
    padding: 10px 20px;
    color: #1078AD;
    border: 2px solid #1078AD;
    border-radius: 4px;
    transition: .3s ease;
    margin-right: 6rem;
    max-width: 20em; }
    .btn-container button:hover {
      background-color: #1078AD;
      color: white; }

@media only screen and (max-width: 600px) {
  .stepper h1 {
    font-size: .9em !important; }
  #questionnaire .progress h3 {
    font-weight: bolder;
    padding-top: .6em;
    font-size: 1.5em !important; } }
